            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3 class="panel-title">Patrocínio</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row ">
                                <div class="col-xs-2">
                                    <a href="http://www.dbserver.com.br/" target="_blank"><img class="center-block img-responsive" src="img/dbserver.png"></a>
                                </div>
                                <div class="col-xs-5">
                                    <a href="http://www.centrodeinovacao.org.br/" target="_blank"><img class="center-block img-responsive" src="img/microsoft.png"></a>
                                </div>
                                <div class="col-xs-2">
                                    <a href="http://www.sap.com/brazil/" target="_blank"><img class="center-block img-responsive" src="img/sap.png"></a>
                                </div>
                                <div class="col-xs-3">
                                    <a href="http://www.lojasrenner.com.br/" target="_blank"><img class="center-block img-responsive" src="img/renner.png"></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-1">
                                    <a href="http://www.gruporbs.com.br/" target="_blank"><img class="center-block img-responsive" src="img/rbs.png"></a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="http://www.fundaplub.org.br/" target="_blank"><img class="center-block img-responsive" src="img/fundaplub.png"></a>
                                </div>
                                <div class="col-xs-3">
                                    <a href="http://www.ecore.com.br/" target="_blank"><img class="center-block img-responsive" src="img/ecore.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3 class="panel-title">Apoio</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 col-xs-4 col-xs-offset-2 col-md-offset-0">
                                    <a href="http://carreiraspucrs.com.br/" target="_blank"><img class="center-block img-responsive" src="img/carreiras.png"></a>
                                </div>
                                <div class="col-md-6 col-xs-4">
                                    <a href="http://www.sisnema.com.br/" target="_blank"><img class="center-block img-responsive" src="img/sisnema.png"></a>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-xs-4 col-xs-offset-4">
                                    <img class="center-block img-responsive" src="img/espaco32.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <address>
                    <strong>Pontifícia Universidade Católica do Rio Grande do Sul - PUCRS</strong><br>
                    <strong>Faculdade de Informática - FACIN</strong><br>
                    Avenida Ipiranga, 6681 - Prédio 32 - Sala 505<br>
                    Partenon - Porto Alegre/RS - CEP: 90619-900<br>
                    Telefone: (51) 3320-3558
                </address>
                <h6>&#169;2014 Francis V. A. Fontoura</h6>
            </div>
        </div>
    </body>

</html>